

    <div class="row">
      <div class="col-md-6">
        <nge-button-icon></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon colorClass="btn-primary"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-secondary" label="Este es small"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-success"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-danger"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-warning"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-info"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-light"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-dark"></nge-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nge-button-icon size="sm" colorClass="btn-link"></nge-button-icon>
      </div>
    </div>